{% extends 'baseBis.html.twig' %}

{% block body %}

<main><!-----------------------PRESENTATION CLUB ET ADRESSE---------------------->
    <h1 class="partnersTitle">Nos clubs partenaires</h1>
    <section class="clubsMap">
        <div class="clubsPartners">
            <h2>ASK Bordeaux-Gironde</h2>
            <span>Yves Blanc</span>
            <span>17 chemin Canon</span>
            <span>33270 Floirac</span>
            <span>06.33.96.01.55</span>
        </div>
        <div class="mapAdress">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4238.73808498515!2d-0.5003707461015615!3d44.84156061960685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd55258fbdbe6e65%3A0xc144c59d129c831b!2s17%20Chem.%20du%20Canon%2C%2033270%20Floirac!5e0!3m2!1sfr!2sfr!4v1650618245132!5m2!1sfr!2sfr" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <section class="clubsMap">
        <div class="clubsPartners">
            <h2>ASK Biscarosse</h2>
            <span>David Cruz</span>
            <span>Chemin d'En hil</span>
            <span>40600 Biscarosse</span>
            <span>05.58.78.88.50</span>
        </div>
        <div class="mapAdress">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2850.431376277649!2d-1.1053221851957087!3d44.4037930791027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54877a7591f99d%3A0xb9b62e837edea59e!2sChem.%20d&#39;en%20Hill%2C%2040600%20Biscarrosse!5e0!3m2!1sfr!2sfr!4v1650618579113!5m2!1sfr!2sfr" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <section class="clubsMap">
        <div class="clubsPartners">
            <h2>ASK Layrac</h2>
            <span>Jacques Refloch</span>
            <span>9 Allée du Brulhois</span>
            <span>47390 Layrac</span>
            <span>06.80.99.85.69</span>
        </div>
        <div class="mapAdress">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2863.7606435116727!2d0.652935314791935!3d44.12955897910787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12abb5b45c1801e7%3A0x7b4b897271a1ccbd!2s9%20All.%20du%20Bruilhois%2C%2047390%20Layrac!5e0!3m2!1sfr!2sfr!4v1650618714921!5m2!1sfr!2sfr" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <section class="clubsMap">
        <div class="clubsPartners">
            <h2>ASK Nontron</h2>
            <span>Daniel Dejuniat</span>
            <span>1 chemin de septeix</span>
            <span>24750 Trélissac</span>
            <span>06.08.34.76.99</span>
        </div>
        <div class="mapAdress">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2811.6377380874455!2d0.7479553148402391!3d45.19442897909877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ff71da97efa0a5%3A0x78cdeb1411e90fd6!2s1%20Chem.%20de%20Septeix%2C%2024750%20Tr%C3%A9lissac!5e0!3m2!1sfr!2sfr!4v1650618770736!5m2!1sfr!2sfr" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <section class="clubsMap">
        <div class="clubsPartners">
            <h2>ASK Escource</h2>
            <span>Sylvia Fernandez</span>
            <span>1000 la Brule</span>
            <span>40210 Escource</span>
            <span>05.58.08.98.77</span>
        </div>
        <div class="mapAdress">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2862.1448045984052!2d-0.9683883852065671!3d44.16287487910718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd546be6cc0d3bcb%3A0xd8e9a43760a6fe28!2s1000%20La%20Br%C3%BBle%2C%2040210%20Escource!5e0!3m2!1sfr!2sfr!4v1650618871617!5m2!1sfr!2sfr" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <section class="clubsMap">
        <div class="clubsPartners">
            <h2>ASK des Renardières</h2>
            <span>Jean-Pierre Dumur</span>
            <span>Circuit des renardières</span>
            <span>87230 Pageas</span>
            <span>05.55.78.59.58</span>
        </div>
        <div class="mapAdress">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2787.0143323490042!2d1.019115014863033!3d45.690684379104226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fedbedf04f81ab%3A0x1924ff62f87a81d2!2sKarting%20Circuit%20des%20Renardi%C3%A8res!5e0!3m2!1sfr!2sfr!4v1650618967194!5m2!1sfr!2sfr" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <section class="clubsMap">
        <div class="clubsPartners">
            <h2>ASK Stade Montois</h2>
            <span>Jacques Saint-Guirons</span>
            <span>284 route du bas armagnac</span>
            <span>40090 Bascons</span>
        </div>
        <div class="mapAdress">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2878.59410693653!2d-0.4159136852218011!3d43.822777979115855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd55d8566ab83279%3A0x3363f392c7b90efc!2s284%20Rte%20du%20Bas%20Armagnac%2C%2040090%20Bascons!5e0!3m2!1sfr!2sfr!4v1650619037346!5m2!1sfr!2sfr" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <section class="clubsMap">
        <div class="clubsPartners">
            <h2>ASK Pau</h2>
            <span>Gérard Cassou</span>
            <span>6 rue des issards</span>
            <span>64000 Pau</span>
            <span>06.12.82.52.46</span>
        </div>
        <div class="mapAdress">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2903.1085285928402!2d-0.37310898524452324!3d43.311987479134466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5648b43336b7c7%3A0x70b5c91cd7455f60!2s6%20Rue%20des%20Isards%2C%2064000%20Pau!5e0!3m2!1sfr!2sfr!4v1650619090011!5m2!1sfr!2sfr" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <section class="clubsMap">
        <div class="clubsPartners">
            <h2>ASK Villeneuve</h2>
            <span>Thierry Xuereb</span>
            <span>14 ter rauli</span>
            <span>47300 Villeneuve sur Lot</span>
        </div>
        <div class="mapAdress">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2849.9419856916543!2d0.7270396148047721!3d44.41383617910258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ab079679509ea5%3A0x70f81422550a4159!2s14%20Rue%20de%20Raouly%2C%2047300%20Villeneuve-sur-Lot!5e0!3m2!1sfr!2sfr!4v1650619140858!5m2!1sfr!2sfr" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
</main><!----------------------- FIN PRESENTATION CLUB ET ADRESSE---------------------->
{% endblock %}